* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Francois One', sans-serif;
}

@font-face {
    font-family: 'Oswald', sans-serif;

}

@font-face {
    font-family: 'Lakki Reddy', cursive;

}

body html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #FCEFF1;
    margin: 0;
}

img {
    max-width: 100%
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* Navigation */
nav {
    background-color: #0000;
    margin: 0;
    color: #CCC2C2;
}

.main-nav {
    background-color: #221b1b;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    position: fixed;
    z-index: 5;
}

.main-nav nav,
.main-nav .nav-links ul {
    display: flex
}

.main-nav li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Francois One';
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.logo-container {
    width: 80px;
    padding: 10px, 0;
}

.main-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-nav .nav-links ul {
    margin: 0;
    padding: 0;
}

.main-nav .nav-links a {
    text-decoration: none;
    color: #CCC2C2;
}

.shop-bag {
    color: #CCC2C2;
    font-size: 30px;
    padding-left: 20px;
}

/* HEADER */
.header-bg {
    width: 100%;
    height: 487px;
    background-image: url("../images/header-bg.jpg")
}

.header-front {
    width: 959px;
    height: 491px;
    position: absolute;
    top: 160px;
    left: 17%;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.6);
    background-image: url("../images/header-front.jpg")
}

.header-front p {
    font-family: 'Oswald';
    color: #CCC2C2;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 5px;
    display: flex;
    position: relative;
    top: 80px;
}

/* GARANTIE */
.adv {
    position: relative;
    width: 100%;
    height: 520px;
}

.advantages {
    display: inline-block;
    position: relative;
    top: 185px;
    width: 230px;
    margin-right: 60px;
    text-align: center;
    margin-left: 80px;
}

.advantages img {
    width: 150px;
    height: 150px;
}

.advantages .text-adv {
    line-height: 1.5;
    margin: 0;
    margin-bottom: 7px;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #1A3A52;

}

.advantages .description {
    margin: 0;
    line-height: normal;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 1.1rem;
    color: #1A3A52;
}

/* PROMO */
.promo {
    width: 100%;
    height: 45px;
    background-color: #221b1b;
    font-family: 'Oswald';
    color: #CCC2C2;
    text-align: center;
    font-size: 1.1rem;
    padding: 3px;
}

.promo p {
    margin: 4px;
}

/* SELLING */
.presentation {
    width: 27%;
    height: 1342px;
    margin: 0;
    justify-content: space-between;

}

.presentation img {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    height: 1342px;
    margin: 0;
}

.presentation a {
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Oswald';
    margin: 0;
    color: #CCC2C2;
    font-size: 1.8rem;
    line-height: 1.7;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.shop {
    display: flex;
    position: absolute;
    left: 500px;
    flex-direction: column;
    width: 57%;
    margin: 15px;
    justify-content: space-between;
}

.card {

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f8f3;
}

.product-actions {
    padding-left: 10px;
    font-size: 1.4rem;
    margin-top: -8px;
}

.single-product {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.single-product p {
    margin: 10px;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.btn {
    margin-bottom: 2px;
    background-color: #563c56;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    right: 0px;
    bottom: 20px;
    font-size: 1.2rem;
}

.btn-fav {
    margin-bottom: 2px;
    background-color: #6978b2;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    right: 226px;
    bottom: 20px;
    font-size: 1.2rem;
}

.btn a,
.btn-fav a {
    text-decoration: none;
    color: #FFFF;
}

.btn:hover,
.btn-fav:hover {
    background-color: #9e879e;

}

.product-cta a {
    display: flex;
}

.product-cta p {
    margin: 0;

}

.product-cta img {
    position: relative;
}

.old-price {
    text-decoration-line: line-through;
    font-family: 'Oswald';
    font-weight: 300;
}

.extra {
    color: red;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 8px;
}

/* CONCEPTE SITE */
.concept {
    width: 100%;
    background-color: #f8f8f8;
    max-height: 730px;
}

.concept h1 {
    position: relative;
    padding-top: 5%;
    left: 15%;
    font-family: 'Oswald';
    font-size: 2rem;
    margin: 0;
    opacity: 0.7;
}

.text-concept {
    width: 450px;
    position: relative;
    left: 5%;
}

.text-concept p {
    padding-left: 10%;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 1.3rem;
    opacity: 0.7;
}

.concept img {
    position: relative;
    left: 43rem;
    bottom: 23rem;
}

/* FOOTER */

footer {
    height: 365px;
    background-color: #221b1b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {

    width: 300px;
    text-align: center;

}

.title-footer {
    color: #C8C8C8;
    margin: 0;
}

.form form {
    padding: 16px 0;
    margin: 0 auto;
    text-align: left;
}

.form label,
.form textarea,
.form input {
    display: block;
    width: 100%
}

.form label {
    margin-bottom: 8px;
    color: white;
}

.form input,
.form textarea {
    color: white;
    margin-bottom: 16px;
    background: none;
    border-color: white;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 8px 0;
}

.form textarea {
    border-width: 1px;
}

.form input[type=submit] {
    width: auto;
    cursor: pointer;
    padding: 8px;
    margin: auto;
    border: 0;
    background-color: #D10F0F;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.text-footer {
    color: white;
    text-decoration: none;
}

/* ID */
#Janowski {
    font-family: 'Lakki Reddy';
    margin: 0;
    display: flex;
    justify-content: flex-end;

    position: relative;
    top: 150px;
    font-size: 60px;
}

#Collection {
    font-family: 'Oswald';
    margin: 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 130px;
    font-size: 40px;
}